.btn-toggle-nav{
  a{
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
    &:hover{
      color: #FFFFFF !important;
      background-color: #4472bb;
    }
  }
}