{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center m-auto">
        <h1 class="display-4 text-dark fw-bold">Welcome to Football Teams</h1>
        <p class="lead text-secondary mt-3">I am an application which manages transfers between football teams.</p>
        <a href="#" class="btn btn-primary mt-4">Create a new Team</a>
    </div>
{% endblock %}